<div class="form-container">
    <adf-form 
        [form]="contractFrom"
        [disableSaveButton]="isDisableSave"
        [showRefreshButton]="false"
        [showCompleteButton]="false"
        (executeOutcome)="onContractSaved($event)">
        <adf-form-custom-outcomes *ngIf="!isHiddenUpload" class="float-start">
            <adf-upload-button
                staticTitle="Upload Attachments"
                [rootFolderId]="contractNodeId"
                [multipleFiles]="true"
                [acceptedFilesType]="'.doc,.docx,.pdf'"
                (success)="onUploadSuccess($event)"></adf-upload-button>
            <adf-file-uploading-dialog></adf-file-uploading-dialog>
        </adf-form-custom-outcomes>
    </adf-form>
</div>