mat-form-field {
    display: block !important;
}

#adf-form-save {
    background-color: green;
    color: white;
}

.adf-form-mat-card-actions .mat-button-wrapper {
    opacity: 1 !important;
}

.mat-button.mat-button-disabled {
    background-color: grey !important;
}

.adf-upload-button-file-container {
    display: inline-block !important;
}