<div class="form-container">
    <adf-form 
        [form]="contractFrom"
        [disableSaveButton]="isDisableSave"
        [showRefreshButton]="false"
        [showCompleteButton]="false"
        (executeOutcome)="onContractSaved($event)">
        <adf-form-custom-outcomes class="float-end">
            <adf-upload-button
                *ngIf="!isHiddenUpload"
                staticTitle="Upload"
                [rootFolderId]="contractNodeId"
                [multipleFiles]="true"
                acceptedFilesType=".doc,.docx,.pdf"></adf-upload-button>
            <adf-file-uploading-dialog></adf-file-uploading-dialog>

            <button mat-button (click)="this.dialogRef.close(this.contractNode)">Close</button>
        </adf-form-custom-outcomes>
    </adf-form>
</div>