<div class="row m-3">
    <div class="col-md-11 text-end">
        <button mat-stroked-button (click)="onNewContract()">
            <mat-icon>add</mat-icon> New Contract
        </button>
    </div>
</div>

<div class="row m-3">
    <div class="offset-md-1 col-md-5">
        <mat-card class="card">
            <mat-card-title>
                <h4>My Pending Approvals</h4>
                <hr class="mb-0" />
            </mat-card-title>
            <mat-card-content>
                <div *ngIf="isLoadingApproval" class="text-md-center">
                    <!--Add your custom loading template here-->
                    <div class="spinner-grow text-primary m-3"></div>
                    <div class="spinner-grow text-success m-3"></div>
                    <div class="spinner-grow text-info m-3"></div>
                </div>
                <mat-list>
                    <mat-list-item *ngFor="let approval of approvals">
                        <mat-icon matListIcon>folder</mat-icon>
                        <a href="contract/{{approval.id}}/detail">
                            <h4 matLine> {{approval.name}} </h4>
                        </a>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-5">
        <mat-card class="card">
            <mat-card-title>
                <h4>Contracts - Recently Viewed</h4>
            </mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let recent of recents">
                        <mat-icon matListIcon>folder</mat-icon>
                        <a href="#">
                            <h4 matLine> {{recent.name}} </h4>
                        </a>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row m-3">
    <div class="offset-md-1 col-md-10">
        <mat-card class="card mb-3">
            <mat-card-title>
                <h4>All Contracts</h4>
            </mat-card-title>
            <mat-card-content>
                <adf-datatable [rows]="rows" [columns]="schema" [loading]="isLoading"
                    [stickyHeader]="false" (rowDblClick)="onShowDetail($event)">

                    <adf-loading-content-template>
                        <ng-template>
                            <!--Add your custom loading template here-->
                            <div class="spinner-grow text-primary m-3"></div>
                            <div class="spinner-grow text-success m-3"></div>
                            <div class="spinner-grow text-info m-3"></div>
                        </ng-template>
                    </adf-loading-content-template>

                    <adf-no-content-template>
                        <ng-template>
                            <adf-empty-content class="m-3" icon="star_rate" title="No Contracts">
                            </adf-empty-content>
                        </ng-template>
                    </adf-no-content-template>

                </adf-datatable>

                <adf-pagination [supportedPageSizes]="sizes" [pagination]="pagination"
                    (change)="onChangePagination($event)">
                </adf-pagination>
            </mat-card-content>
        </mat-card>
    </div>
</div>